@import 'fonts';
@import "~bootstrap/scss/bootstrap";
html,body {
    font-family: 'Open Sans';
    height: 100%;
}


body{
    background-color: aquamarine;
}
.home{

        background-color: #FCF8F7;
        height: 600px;
        width: 600px;
        background-image:url('../img/javascript.png');
    
    
        
}
.folder{

    background-color: #FCF8F7;
    height: 250px;
    width: 250px;
    background-image:url('../img/svg/001-diploma.svg');


    
}